* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(./img/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 20px;
  color: white;
  height: 100vh;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 70px;
}

.logo {
  width: 129px;
  height: 43px;
  padding-right: 10px;
  border-right: 1px solid white;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__text {
  font-size: 18px;
  font-weight: 400;
}

.header__link {
  color: white;
  border: 1px solid white;
  border-radius: 100px;
  padding: 16px 30px;
  font-size: 20px;
  font-weight: 500;
}

.telegram {
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-left: 5px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.main__title span {
  margin-bottom: 40px;
  display: block;
  color: #6ec1e4;
  max-width: 50rem;
}

.main__text {
  border: 3px dashed #44bcff;
  padding: 16px 30px;
  border-radius: 100px;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 40px;
}

.main__bell-wrapper {
  position: relative;
}

.main__bell {
  width: 28px;
  position: absolute;
  top: -13px;
  right: 35px;
}
.main__link {
  color: white;
  font-size: 20px;
  font-weight: 500;
  background: linear-gradient(135deg, rgb(20, 92, 231), rgb(68, 188, 255) 100%);
  border-radius: 100px;
  padding: 16px 30px 16px 30px;
}
.main__link::after {
  content: "";
  background-image: url(./img/telegram.svg);
}

@media (max-width: 756px) {
  .header__text {
    font-size: 11px;
  }
  .logo {
    width: 71px;
    height: 24px;
    border-right: 2px solid white;
  }
  .header__link {
    font-size: 11px;
    padding: 10px 15px;
  }
  .main__title {
    font-size: 24px;
    max-width: 605px;
  }
  .main__text {
    font-size: 14px;
    padding: 9px 30px;
  }
  .main__bell {
    width: 17px;
    height: 17px;
    top: -7px;
    right: 23px;
  }
  .main__link {
    font-size: 16px;
    padding: 16px 65px;
  }
}

@media (max-width: 580px) {
  body {
    background-image: url(./img/background2.webp);
  }
}
